<% title = 'Child Template' %>
<%- contentFor('mainNotMarged') %>

<div class='m-3 row'>
    <h3 class="my-5 ">Aliments </h3>
    <div class='col-8'>
        
        <table class="table table-striped my-3">
            <thead class="table-dark">
            <tr>
                <th scope="col">
                    <input type="text" class="form-control d-inline" id="alimentNameSearch"/>
                    <a href="#" class="link-light orderByButton" data-parameter="name">Nom</a> 
                  </th>
                <th scope="col"><a href="#" class="link-light">Kcalorie</a></th>
                <th scope="col" colspan="2"><a href="#" class="link-light orderByButton" data-parameter="carbohydrate">Glucide</a> dont sucre</th>
                <th scope="col"><a href="#" class="link-light orderByButton" data-parameter="proteine">Proteine</a></th>
                <th scope="col" colspan="3"><a href="#" class="link-light orderByButton" data-parameter="fat">Lipide</a> dont saturé</th>
            </tr>
            </thead>
            <tbody id="foodTableBody">
            <% for(var i=0; i<food.length; i++) {%>
                <tr id='alimentRow<%= food[i].id %>'>
                    <th scope="row"><%= food[i].name %></th>
                    <td> <%=  parseFloat(food[i].carbohydrate *4+ food[i].proteine *4 + food[i].fat*9).toFixed(1)  %> kcal </td>
                    <td> <%= food[i].carbohydrate %> g </td>
                    <td> <%= food[i].sugar %> g </td>
                    <td> <%= food[i].proteine %> g </td>
                    <td> <%= food[i].fat %> g </td>
                    <td> <%= food[i].trans_fat %> g </td>
                    <td> <button class='delAlimentBtns btn btn-danger' data-bs-toggle='modal' data-bs-target='#confirmDel' data-id-aliment='<%= food[i].id %>'>Supprimer</button>  <button class="btn btn-outline-secondary edit-aliment" data-macro-nutrient='{"name" : "<%= food[i].name %>","protein" : <%= food[i].proteine %>,"fat" : <%= food[i].fat %>,"trans_fat" : <%= food[i].trans_fat %>,"carbohydrate" : <%= food[i].carbohydrate %>, "sugar" : <%= food[i].sugar %>, "is_egg" : <%= food[i].is_egg %>, "is_meat" : <%= food[i].is_meat %>, "is_milk" : <%= food[i].is_milk %>}' data-id-aliment='<%= food[i].id %>'>éditer</button> </td>
                </tr>
            <% } %>
            </tbody>
            
        </table>
    </div>
    <div class='col-3'>
        <form id='foodForm' class="my-3">
            <input class="d-none" id='isUpdated' type='checkbox' disabled/>
            <input class="d-none" id='idFoodEl' type='text' disabled/>
            <div class='my-3'>
                <label for='nameAliment'> Nom : </label>
                <br>
                <input id='nameAliment' class='form-control' name='nameAliment'/>
            </div>
            <div class='my-3 row'>
                <div class="col">
                    <label for='kcalorieEl'> Kcalorie : </label>
                    <br>
                    <input pattern="[0-9]*[.,]?[0-9]*" type="number" step="0.1" id='kcalorieEl' class='form-control kcalorieEl' name='kcalorieEl'/>
                </div>
            </div>
            <div class='my-3 row'>
                <div class="col">
                    <label for='carbohydrateEl'> Glucide : </label>
                    <br>
                    <input pattern="[0-9]*[.,]?[0-9]*" type="number" step="0.1" id='carbohydrateEl' class='form-control carbohydrateEl' name='carbohydrateEl'/>
                </div>
                <div class="col">
                    <label for='sugarEl'> Dont sucre : </label>
                    <br>
                    <input pattern="[0-9]*[.,]?[0-9]*" type="number" step="0.1" id='sugarEl' class='form-control sugarEl' name='sugarEl'/>
                </div>
            </div>
            <div class='my-3'>
                <label for='proteinEl'> Protéine : </label>
                <br>
                <input pattern="[0-9]*[.,]?[0-9]*" type="number" step="0.1" id='proteinEl' class='form-control proteinEl' name='proteinEl'/>
            </div>
            <div class='my-3'>
                <div class='col'>
                    <label for='fatEl'> Lipide : </label>
                    <br>
                    <input pattern="[0-9]*[.,]?[0-9]*" type="number" step="0.1" id='fatEl' class='form-control fatEl' name='fatEl'/>
                </div>
                <div class='col'>
                    <label for='transFatEl'> Saturé : </label>
                    <br>
                    <input pattern="[0-9]*[.,]?[0-9]*" type="number" step="0.1" id='transFatEl' class='form-control transFatEl' name='transFatEl'/>
                </div>
            </div>
            <div class='my-3'>
                <div class='col'>
                    <div class='my-2'>
                        <input type='checkbox' id='isMeatEl'/>
                        <label for='transFatEl'> Contient de la viande </label>
                    </div>
                    <div class='my-2'>
                        <input type='checkbox' id='isEggEl'/>
                        <label for='transFatEl'> Contient des eoufs </label>
                    </div>
                    <div class='my-2'>
                        <input type='checkbox' id='isMilkEl'/>
                        <label for='transFatEl'> Contient du lait</label>
                    </div>
                </div>
            </div>

            <input type='submit' class='btn btn-primary'>
            <div class='alert d-none my-2' id='alimentAlert'>
            </div>
        </form>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="confirmDel" aria-labelledby="confirmDelLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="confirmDelLabel">Attention : </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Êtes vous sûr de bien vouloir supprimer cet aliment</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id='colse-del-modal'>Fermer</button>
            <button type="button" class="btn btn-danger" id='confirmDeletionBtn'>Supprimmer</button>
        </div>
        </div>
    </div>
</div>
<script src="/js/admin/food/edit.selector.js"></script>
<script src="/js/admin/food/delete.js"></script>
<script src="/js/admin/food/add.js"></script>
<script>
    isAdmin = true;
</script>
<script src="/js/food/get.all.js"></script>
<script src="/js/food/print.js"></script>
<%- contentFor('main') %>