<% title = "Child Template" %>exerciseAlerte
<%- contentFor('mainNotMarged') %>  
<%- contentFor('main') %>
<h2 class="my-5">Programme</h2>

<div class="bg-light py-3 pt-0">
    <table class="table table-striped my-5">
        <thead class="table-dark">
            <tr>
                <th colspan="3 ">
                <h3>Programmes  brouillon <a href="/admin/program-draft/create" class="btn btn-primary"> + </a> </h3> 
                </th>
            </tr>
        </thead>
    </table>
    
    <div class="row">
    
        <% programDrafts.forEach(async(programDraft) => { %>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="link link-dark"> <%= programDraft.name %> </a>
                        </h5>
                         <div style="background-image: url(/media/photo/<%=programDraft.imageUrl%>); background-size: cover;" class="card-img-top">
                            <div class="w-100 h-auto p-2 bg-light bg-opacity-75">
                            </div>
                        </div>  
                        <p class="card-text">
                            <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteProgramModal<%= programDraft.id %>"><i class="fa-solid fa-trash"></i></button>
                            <a href="/program-draft/<%= programDraft.id %>/train/<%= programDraft.TrainDrafts[0]?.id %>/edit" class="btn btn-outline-primary"><i class="fa-solid fa-pen"></i></a>
                            <a href="/program-draft/<%= programDraft.id %>/publish"  class="btn btn-outline-primary">Publié</a>
                        </p>
                    </div>
                </div>
            </div>
            <%- include('../_modals/_program-draft-delete.modal.ejs', {programDraft: programDraft}); %>

        <% }); %>

    </div>
</div>

<div class="bg-light py-3 pt-0">
    <table class="table table-striped my-5">
        <thead class="table-dark">
            <tr>
                <th colspan="3 ">
                <h3>Programmes  publié  </h3> 
                </th>
            </tr>
        </thead>
    </table>
    <div class="row">
    
        <% programs.forEach(async(program) => { %>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="link link-dark" > <%= program.name %> </a>
                        </h5>
                         <div style="background-image: url(/media/photo/<%=program.imageUrl%>); background-size: cover;" class="card-img-top">
                            <div class="w-100 h-auto p-2 bg-light bg-opacity-75">
                            </div>
                        </div>  
                        <p class="card-text">
                            <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteProgramModal<%= program.id %>"><i class="fa-solid fa-trash"></i></button>
                            <a href="/program-draft/<%= program.id %>/hidde"  class="btn btn-outline-primary">Dépublier</a>
                        </p>
                    </div>
                </div>
            </div>
            <%- include('../_modals/_program-delete.modal.ejs', {program: program}); %>
        <% }); %>

    </div>
</div>

<div class="my-5">
    <h3 class="my-3">Exercices <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addExerciseModal"> + </button> </h3> 
    <div class="card-group  row-cols-2 row-cols-md-5 row-cols-lg-6 row-cols-xl-7 g-4 overflow-auto" style="max-height: 500px;">
        <% exercises.forEach(exercise => { %>
            <div class="col">
                <div class="card" style="width: 10rem;">
                    <img src="/media/photo/<%= exercise.imageUrl %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%= exercise.name %></h5>
                        <p class="card-text d-none">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteExerciseModalexercise<%= exercise.id %>"> <i class="fa-solid fa-trash"></i> </button>
                    </div>
                </div>
                <div class="modal" id="deleteExerciseModalexercise<%= exercise.id %>" tabindex="-1">   
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Attention ! </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Vous êtes sur le point de supprimer l'exercice : <%= exercise.name %>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <a href="/admin/exercise/<%= exercise.id %>/delete" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <%})%>
    </div>

    <div class="modal" id="addExerciseModal" tabindex="-1">
        <form action="/admin/exercise" method="POST"  enctype="multipart/form-data">    
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ajouter un exercice</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" name="name" class="form-control my-2" placeholder="Nom"/>

                        <input type="file" name="imageUrl" class="form-control my-2" placeholder="Image de l'Exercice zefzef"/>

                    </div>
                    <div class="modal-footer">
                        <input type="reset" class="btn btn-danger" data-bs-dismiss="modal">
                        <input type="submit" class="btn btn-primary">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>