<% title = "Profil" %>

<%- contentFor('mainNotMarged') %>
<%- contentFor('main') %>

<!-- THERE WAS A PERFORMANCE TAB. A RETURN ?-->
<div class="border border rounded-bottom p-3 ongletsProfile" id="ongletCompte">
    <h3 class="my-3">Compte : </h3>
    <form action="/user/<%= user.id %>" method="POST" class="my-3">
        <p>
            <label for="email" class="text-responsive"> Email : </label>
            <input class="form-control text-responsive" type="email" value='<%= user.email %>' name="email"  id="email" required>
        </p>
        <p>
            <label for="name" class="text-responsive"> Nom : </label>
            <input class="form-control text-responsive" type="text" value='<%= user.name %>' name="name" id="name" required>
        </p>
        <p>
            <label for="password" class="text-responsive"> Mot de passe : </label>
            <input class="form-control text-responsive" value="P4$$w0rd" type="password" name="password" id="password" required>
        </p>
        <p>
            <label for="passwordConf" class="text-responsive"> Confirmer le mot de passe : </label>
            <input class="form-control text-responsive" value="P4$$w0rd" type="password" name="passwordConf" id="passwordConf" required>
        </p> 
        <!-- <div class="my-3">
            <h4> Premium : </h4> -->
            <% if (isPremium) { %>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date </th>
                            <th>Prix </th>
                            <th colspan="2">Fin de l'engagement</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < subscriptions.length; i++) {%>
                            <tr>
                                <td class="startDate"> <%= subscriptions[i].start_date %></td>
                                <td> <%= subscriptions[i].plan.amount / 100 %> € / moi </td>
                                <td>
                                    <% if (subscriptions[i].plan.product === 'prod_KKjw4bAelTBOMa') { %>
                                        <span class="endDate">
                                            <%= subscriptions[i].start_date += 86400*31*12 %>
                                        </span>
                                        
                                    <% } else if (subscriptions[i].plan.product === 'prod_KKjy9S91iB6qYP') { %>
                                        <span class="endDate">
                                            <%= subscriptions[i].start_date += 86400*31*6 %>
                                        </span>
                                    <% } else {%>
                                        -
                                    <% } %>
                                </td>
                                <td>
                                    <button class="btn btn-danger cancel-subscriptions" url="/api/subscription/<%=subscriptions[i].id%>"> Annuler </button>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } else { %>
            <% } %>
        <!-- </div>  -->
        <input type="submit" class="btn btn-primary my-3 text-responsive" id="submitUserFormButton" value="Mettre à jour"/>
    </form>  
    <div id="ongletCompteAlert" class="alert d-none my-3"></div>
</div>
<!-- <link rel="stylesheet" href="https://unpkg.com/@adminkit/core@latest/dist/css/app.css"> -->
<script src='/js/user/subscription.delete.js'></script>
