<% title = "Palt | création & édition " %>

<%- contentFor('mainWithoutMarge') %>
<%- contentFor('main') %>

<h3 class="my-5 ">
    <a href="/nutrition/<%= (new Date()).getFullYear()+"-"+((new Date()).getMonth()+1)+"-"+(new Date()).getDate() %>" class="btn btn-primary"><i class="fa-solid fa-arrow-left-long"></i></a> 
    Aliments
</h3>
<div>
    <form class="row my-2 foodDishForm" method="POST" >

        <!-- </form> enctype="multipart/form-data"> -->
        <div class="col-auto">
            <input type="hidden" class="hidden" name="foodsDish" id="foodsDishInput"/>
            <div class="row  my-2 ">
                <div class="col-auto">
                    <% if (todoDelteThisOption) { %> 
                        <input type="file" name="image" class="form-control"/> 
                    <% } %>
                </div>
            </div>
            <div class="row  my-2 ">
                <div class="col-auto">
                    <input type="text" name="name" class="form-control"  value="<% if (dish != null ) { %><%= dish.name %><% } %>" required />
                </div>
                <input class=" col-auto  btn btn-outline-primary" type="submit"/>
            </div>
        </div>
        <div class="col-auto">
            <% [
                'fish-dish',
                'redmeat-dish',
                '',
                '',
                '',
                ''].forEach(image => { %>
                <div class="w-auto mx-2 d-inline-block">
                    <img src="/media/photo/<%= image %>-placeholder.png" class="rounded" style="max-width: 107px;"/>
                    </br>
                    <input type="radio" name="imageUrl" value="<%= image %>-placeholder.png"/>
                </div>
            <% }) %>
        </div>
    </form>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">
                    <a href="#" class="link-light orderByButton" data-parameter="name">Nom</a> 
                </th>
                <th scope="col" colspan="2" >
                    <a href="#" class="link-light">Poids</a>
                </th>
            </tr>
        </thead>
        <tbody id="addedFood">
            <% for(var i=0; i < myDishFoods.length; i++) {%> 
                <tr>
                    <th scope="row">
                        <%= myDishFoods[i].food.name %>
                    </th>
                    <td>
                        <input type="number" foodId='<%= myDishFoods[i].food.id %>' value='<%= myDishFoods[i].weight %>' class="form-control foodWeight" placeholder="g / ml"/>
                    </td>
                    <td>
                        <button class="btn btn-outline-danger deleteFoodButton">
                            <i class="fa-solid fa-trash"></i> Supprimer
                        </button>
                    </td>
                </tr>
            <% } %>
        </tbody> 
    </table>
</div>


<table class="table table-striped my-3">
    <thead class="table-dark">
        <tr>
        <th scope="col">
            <a href="#" class="link-light orderByButton" data-parameter="name">Nom</a> 
        </th>
        <th scope="col" class="d-none d-xl-table-cell" ><a href="#" class="link-light">Kcalorie</a></th>
        <th scope="col" class="d-none d-xl-table-cell" ><a href="#" class="link-light orderByButton" data-parameter="carbohydrate">Glucide</a></th>
        <th scope="col" class="d-none d-xl-table-cell" ><a href="#" class="link-light orderByButton" data-parameter="protein">Proteine</a></th>
        <th scope="col" class="d-none d-xl-table-cell" ><a href="#" class="link-light orderByButton" data-parameter="fat">Lipide</a></th>
        <th scope="col" class="d-xl-none d-print-table-cell" >Valeurs nutritionelle</td>
        <th scope="col">
            <div class="row w-auto p-0 m-0"imageBAckgroundElement>
            <div class="col-auto">
            </div>
            <button class="col-auto btn btn-primary" data-bs-toggle="modal" data-bs-target="#filterFoodModal">
                <i class="fa-solid fa-filter"></i> Filtrer
                <% if (countFilter) { %> 
                    <span class="badge badge-light"><%=  countFilter %></span>
                <% }%> 
                
            </button>
            </div>
        </th>
        </tr>
    </thead>
    <tbody id="foodTableBody"> 
        <% for(var i=0; i<food.length; i++) {%>
        <tr>
            <th scope="row"><%= food[i].name %></th>
            <td class="d-none d-xl-table-cell"> <span class="kcal"><%=  parseFloat(food[i].carbohydrate *4.063+ food[i].proteine *4.063 + food[i].fat*9.08222).toFixed(1)  %> kcal </span></td>
            <td class="d-none d-xl-table-cell"> <span class="carbo"><%= food[i].carbohydrate %></span> g </td>
            <td class="d-none d-xl-table-cell"> <span class="protein"><%= food[i].proteine %></span> g </td>
            <td class="d-none d-xl-table-cell"> <span class="fat"><%= food[i].fat %></span> g </td>
            <td class="d-xl-none d-print-table-cell">
            <button class="btn btn-outline-secondary get-detail" data-bs-toggle="modal" data-bs-target="#detailFoodModal">...</button> 
            </td>
            <td>
                <div class="row"  style="max-width: 200px;">
                    <!-- <input type="number" name="foodId" hidden value=<%= food[i].id %> > -->
                    <button class="btn btn-outline-primary addFoodToDish" idFood="<%= food[i].id %>">
                        <i class="fa-solid fa-plus"></i>
                            Ajouter 
                    </button>
                </div>
            </td>
        </tr>
        <% } %>
    </tbody>
</table>
<%- include('_modals/_filter.modals.ejs', { parsedUrlQuery : parsedUrlQuery} ); %>
<script src="/js/dish.js" type="text/javascript"></script>