<% title = "Détais de la diette de ce jour" %>

<%- contentFor('main') %>
<h2 class="my-5">Détais de la diette de ce jour :</h2>
<h3  id="date"><%= date %></h3>

<table class="my-3 table">
    <thead>
        <th scope="col">Nom </th>
        <th scope="col">Poids / volume </th>
        <th scope="col"></th>
    </thead>
    <tbody id="listAteFoodHTML">
        <% for (var i = 0; i < ateFoods.length ;  i++ ) { %>
            
            <tr id="ate-food-<%= ateFoods[i].Food.id  %>">
                <td> <%= ateFoods[i].Food.name   %></td>
                <td> <%= ateFoods[i].weight %></td>
                <td>
                    <button data-id-food="<%= ateFoods[i].id %>" class='delete-ate-food-btn btn btn-danger' > x </button>
                </td>
            </tr>

        <% } %>

    </tbody>
</table>
<div id="responseFoodAteRequest" class="my-3 alert d-none">

    

</div>
<script src="/js/date.js"></script>
<script src="/js/ate_food/delete.js"></script>
<script src="/js/ate_food/get.all.detail.js"></script>