<% title = "Détais de la diette de ce jour" %>

<%- contentFor('mainWithoutMarge') %>
<%- contentFor('main') %>
<h2 class="my-5">
    <a href="/nutrition/<%= date %>" class="btn btn-outline-primary"><i class="fa-solid fa-arrow-left-long"></i></a> 
    Détails de la diette de ce jour :
</h2>
<h3  id="date"><%= new Date(date).toLocaleDateString('fr-FR', {
  weekday: 'long',
  year: 'numeric',
  month: 'long',
  day: 'numeric'
}) %></h3>

<table class="my-3 table">
    <thead>
        <form method="GET">
            <th scope="col" class="row">
                <div class="w-auto">Nom</div>
                <input type="text" name="name" class="form-control w-auto"/>
            </th>
            <th scope="col">Poids / volume </th>
            <th scope="col">
                <button class="btn btn-primary">Rechercher</button>
            </th>
        </form>
    </thead>
    <tbody id="listAteFoodHTML">
        <% for (var i = 0; i < ateFoods.length ;  i++ ) { %>
            
            <tr id="ate-food-<%= ateFoods[i].Food.id  %>">
                <td> <%= ateFoods[i].Food.name   %></td>
                <td> 
                    <form action="/food/ate/<%= ateFoods[i].id  %>" method="POST" class="row">
                        <input type="hidden" name="date" class="weight form-control" id="weight" value="<%= date %>"/> 
                        <div class="col-auto">
                            <input type="number" name="weight" class="weight form-control" id="weight" value="<%= ateFoods[i].weight %>" placeholder=" g / ml"/> 
                        </div>
                        <div class="col-auto">
                            g / ml
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-outline-primary">update</button>
                        </div>
                    </form>
                </td>
                <td>
                    <a href="/delete/food/ate/<%= ateFoods[i].id %>"class='delete-ate-food-btn btn btn-outline-danger' > 
                        <i class="fa-solid fa-trash"></i> 
                    </a>
                </td>
            </tr>

        <% } %>

    </tbody>
</table>
<div id="responseFoodAteRequest" class="my-3 alert d-none">

    

</div>
<script src="/js/date.js"></script>
<script src="/js/ate_food/delete.js"></script>
<script src="/js/ate_food/get.all.detail.js"></script>