<% title = "Nutrition | aperçu" %>

<%- contentFor('mainWithoutMarge') %>
<%- contentFor('main') %>
<div class="col my-5 pb-3">
  <%- include('_partials/_besoin-table.partials.ejs'); %>
  <%- include('_partials/_dish.partials.ejs'); %>
  <%- include('_partials/_aliments.partials.ejs'); %>
</div> 
<%- include('_modals/_add-food.modals.ejs'); %>
<%- include('_modals/_add-dish.modals.ejs'); %>
<%- include('_modals/_detail-food.modals.ejs'); %>
<%- include('_modals/_filter.modals.ejs', { parsedUrlQuery : parsedUrlQuery} ); %>
<script src="/js/food/print.js"></script>
<script src="/js/food/get.all.js"></script>
<script src="/js/food/print.detail.js"></script>
