<% title = "Child Template" %>

<%- contentFor('main') %>
<h2 class="my-5">Nutrition</h2>
<div class="col">
    <h3 class="my-5"> Besoins </h3>

    <form id="ateAlimentsForm" class="row">
      <p>
        <div class="col-1">
          <label class="" for="dateAteAliments">Date : </label>
        </div>
        <div class="col-2">
          <input type="date" class="form-control " id="dateAteAliments"/>
        </div>
      </p>
      <p>
      <input type="submit" class="btn btn-primary" id="dateAteAlimentsSubmit"> 
      </p>

    </form> 

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Besoin</th>
          <th scope="col">Mangé</th>
          <th scope="col">En pourcentage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Energie</th>
          <td> kcal </td>
          <td> <span id="kcalAteAbs"></span> kcal </td>
          <td> % </td>
        </tr>
        <tr>
          <th scope="row">Proteine</th>
          <td> g </td>
          <td> <span id="protAteAbs"></span> g </td>
          <td> % </td>
        </tr>
        <tr>
          <th scope="row">Lipide</th>
          <td> g </td>
          <td> <span id="fatAteAbs"></span> g </td>
          <td> % </td>
        </tr>
      </tbody>
    </table>
    <a href="" id="detailsAteFoods">Details</a>
    <div class="alert my-3 d-none" id="nutrition-alert" role="alert">
    </div>
    <h3 class="my-5 ">Aliments </h3>
    <table class="table table-striped my-3">
        <thead class="table-dark">
          <tr>
            <th scope="col">Nom </th>
            <th scope="col">Kcalorie</th>
            <th scope="col">Glucide</th>
            <th scope="col">Proteine</th>
            <th scope="col">Lipide</th>
            <th scope="col"><input type="date" id="ateFoodDate" class="form-control"/></th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i<food.length; i++) {%>
            <tr>
              <th scope="row"><%= food[i].name %></th>
              <td> <%=  parseFloat(food[i].carbohydrate *4+ food[i].proteine *4 + food[i].fat*9).toFixed(1)  %> kcal </td>
              <td> <%= food[i].carbohydrate %> g </td>
              <td> <%= food[i].proteine %> g </td>
              <td> <%= food[i].fat %> g </td>
              <td>
                <form action="/api/food/ate" class="alimentForms" method="post">
                  <div class="row"  style="max-width: 200px;">
                    <input type="number" name="foodId" hidden value=<%= food[i].id %> >
                    <div class="col">
                      <input type="number" name="weight" class="form-control" placeholder="g / ml">
                    </div>
                    <div class="col-3">
                      <input type="submit" class="btn btn-primary" value="+"/>
                    </div>
                  </div>
                </form>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
</div>
<script src="/js/ate_food/get.dashboard.js"></script>
<script src="/js/ate_food/post.js"></script>
