<% title = "Child Template" %>

<%- contentFor('main') %>
<h2 class="my-5">Profile</h2>

<ul class="list-group list-group-horizontal" id="menuOnglet d-inline">
    <li class="list-group-item active boutonOnglet" onglet="ongletPerformance">Performance</li>
    <li class="list-group-item boutonOnglet" onglet="ongletMensuraions">Mensurations</li>
    <li class="list-group-item boutonOnglet" onglet="ongletCompte">Compte</li>
</ul>
<div class="border border rounded-bottom p-3 ongletsProfile d-block" id="ongletPerformance">
    <table>
        <h3 class="my-3">Performance : </h3>
        <tr>
            <th> Squat : </th>
            <td> <span id="perfZoneS"></span> kg </td>
        </tr>
        <tr>
            <th> Développé couché : </th>
            <td> <span id="perfZoneB"></span> kg </td>
        </tr>
        <tr>
            <th> Soulevé de terre : </th>
            <td> <span id="perfZoneD"></span> kg </td>
        </tr>
    </table>
    <table class="my-3 table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Soulevé de terre
                </th>
                <th>
                    Développé couché
                </th>
                <th>
                    Squat
                </th>
                <th>
                    Jour
                </th>   
            </tr>
        </thead>
        <tbody id="performanceTableBody">

        </tbody>
    </table>
    <form id="performanceForm" class="my-5">
        <p>
            <label for="benchPress">
                Développé couché : 
            </label>
            <input type="number" class="form-control" name="benchPress" id="benchPress"/>
        </p>
        <p>
            <label for="deadLift">
                Soulevé de terre : 
            </label>
            <input type="number" class="form-control" name="deadLift" id="deadLift"/>
        </p>
        <p>
            <label for="squat">
                Squat : 
             </label>
             <input type="number" class="form-control" name="squat" id="squat"/>
        </p>
        <p>
            <label for="date">
                Date : 
             </label>
             <input type="date" class="form-control" name="date" id="date"/>
        </p>
        <input type="submit" class="btn btn-primary"/>
    </form>
    <div class="alert d-none" id="ongletPerformanceAlert">

    </div>
</div>

<div class="border border rounded-bottom p-3 ongletsProfile d-none" id="ongletMensuraions">
    <table class="table table-bordered">
        <h3 class="my-3">Mensurations : </h3>
        <tr>
            <th> Poids : </th>
            <td> <span id="weightZone"></span> kg </td>
            <th> Tour d'épaule : </th>
            <td> <span id="suroundSouldersZone"> </span> cm </td>
        </tr>
        <tr>
            <th> Taille : </th>
            <td> <span id="sizeZone"></span> cm </td>
            <th> Tour de bras : </th>
            <td> <span id="suroundArmsZone"> </span> cm </td>
        </tr>
        <tr>
            <th> Tour de taille : </th>
            <td> <span id="suroundWaistZone"> </span> cm </td>
            <th> Tour de torse : </th>
            <td> <span id="suroundChestZone"> </span> cm </td>
        </tr>
        <tr>
            
        </tr>
        
    </table>
    <table class="table my-3" id="measurmentTable">
        <thead>
          <tr>
            <th scope="col">Poids</th>
            <th scope="col">Taille</th>
            <th scope="col">Epaule</th>
            <th scope="col">Torse</th>
            <th scope="col">Bras</th>
            <th scope="col">Taille (tours)</th>
          </tr>
        </thead>
        <tbody id="measurmentTableBody">
        </tbody>
      </table>
    <form class="my-5" id="measurmentForm">
        <div class="my-3 row my-1" >
            <div class="col-2">
                <label for="weight">
                    Poids 
                </label>
            </div>
            <div class="col-3">
                <input class="form-control" value="64" type="number" step="0.1" id="weight"/>
            </div>
            <div class="col-2">
                <label for="size">
                    Taille
                </label>
            </div>
            <div class="col-3">
                <input class="form-control" value="173" pattern="[0-9]*[.,]?[0-9]*" type="number" step="0.1" id="size"/>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-2">
                <label for="suroundSoulders">
                    Tour d'épaule
                </label>
            </div>
            <div class="col-3">
                <input class="form-control" value="120" type="number" step="0.1" id="suroundSoulders"/>
            </div>
            <div class="col-2">
                <label for="size">
                    Tour de taille 
                </label>
            </div>
            <div class="col-3">
                <input class="form-control" value="80" type="number" step="0.1" id="suroundWaist"/>
            </div>  
        </div>
        <div class="row my-1">
            <div class="col-2">
                <label for="suroundSoulders">
                    Tour de bras
                </label>
            </div>
            <div class="col-3">
                <input class="form-control" value="32" type="number" step="0.1" id="suroundArms"/>
            </div>
            <div class="col-2">
                <label for="size">
                    Tour de torse 
                </label>
            </div>
            <div class="col-3">
                <input class="form-control " type="number" step="0.1" value="120" id="suroundChest"/>
            </div>  
        </div>

        <input type="submit" class="btn btn-primary"/>
    </form>

    <div id="ongletMeasurmentAlert" class="alert d-none"></div>

</div>
<div class="border border rounded-bottom p-3 ongletsProfile d-none" id="ongletCompte">
    <h3 class="my-3">Compte : </h3>
    <form id="userForm" class="my-3">
        <p>
            <label for="email"> Email : </label>
            <input class="form-control" type="email" value='<%= user.email %>' id="email" required>
        </p>
        <p>
            <label for="name"> Nom : </label>
            <input class="form-control" type="text" value='<%= user.name %>' id="name" required>
        </p>
        <p>
            <label for="password"> Mot de passe : </label>
            <input class="form-control" type="password" id="password" required>
        </p>
        <p>
            <label for="confirmpassword"> Confirmer le mot de passe : </label>
            <input class="form-control" type="password" id="confirmpassword" required>
        </p> 
        <div class="my-3">
            <h4> Premium : </h4>
            <% if (isPremium) { %>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date </th>
                            <th>Prix </th>
                            <th colspan="2">Fin de l'engagement</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < subscriptions.length; i++) {%>
                            <tr>
                                <!-- ou <%= subscriptions[i].start_date %> -->
                                <td class="startDate"> <%= subscriptions[i].start_date %></td>
                                <td> <%= subscriptions[i].plan.amount / 100 %> € / moi </td>
                                <td>
                                    <% if (subscriptions[i].plan.product === 'prod_KKjw4bAelTBOMa') { %>
                                        <span class="endDate">
                                            <%= subscriptions[i].start_date += 86400*31*12 %>
                                        </span>
                                        
                                    <% } else if (subscriptions[i].plan.product === 'prod_KKjy9S91iB6qYP') { %>
                                        <span class="endDate">
                                            <%= subscriptions[i].start_date += 86400*31*6 %>
                                        </span>
                                    <% } else {%>
                                        -
                                    <% } %>
                                </td>
                                <td>
                                    <button class="btn btn-danger cancel-subscriptions" url="/api/subscription/<%=subscriptions[i].id%>"> Annuler </button>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } else { %>
            <% } %>
        </div>  
        <input type="submit" class="btn btn-primary" value="Mettre à jour"/>
    </form>  
    <div id="ongletCompteAlert" class="alert d-none"></div>
</div>
<script src='/js/user/format.date.js'></script>
<script src='/js/performance/add.js'></script>
<script src='/js/performance/get.js'></script>
<script src='/js/user/update.js'></script>
<script src="/js/onglet.js"></script>
<script src='/js/measurment/add.js'></script>
<script src='/js/measurment/get.js'></script>
<script src='/js/user/subscription.delete.js'></script>
