<% title = "Profil" %>

<%- contentFor('mainWithoutMarge') %>
<%- contentFor('main') %>

<ul class="list-group list-group-horizontal mt-5" id="menuOnglet d-inline">
    <li class="list-group-item active boutonOnglet" onglet="profileDescription">Aperçu</li>
    <li class="list-group-item boutonOnglet" onglet="ongletMensuraions">Mensurations</li>
    <li class="list-group-item boutonOnglet" onglet="ongletCompte">Compte</li>
</ul>
<!-- THERE WAS A PERFORMANCE TAB. A RETURN ?-->
<div class="border border rounded-bottom p-3 ongletsProfile " id="profileDescription">
    <form action="/nutritionrequirement" method="POST">
        <div class="my-3">
            <label for="size">Taille : </label>
            <input class="form-control" id="size" name="size" type="number" value="<% if(measurments.length>0) { %><%=measurments[0].size;%><% } %>" autocomplete="size" required>
        </div>
        <div class="my-3">
            <label for="weight">Poids : </label>
            <input class="form-control" id="weight" name="weight" type="number" value="<% if(measurments.length>0) { %><%=measurments[0].weight;%><% } %>" autocomplete="weight" required>
        </div>
        <div class="my-3">
            <label for="objectiv">Objectif : <span class="text-danger">*</span></label>
            <select class="form-select" name="objectiv">
                <option value="1">Conserver mon poids et être en meilleur form</option>
                <option value="2">Perdre du poids</option>
            </select>
        </div>
        <div class="my-3">
            <div class="my-2">
                <span class="btn btn-outline-secondary rounded-circle p-0 px-2">?</span> <label for="poids"> Métabolisme : <span class="text-danger">*</span></label>
            </div>
            <select name="metabolismMultiplicator" class="form-select">
                <option value="0.8"> Lent</option>
                <option value="1"> Normal</option>
                <option value="1.2"> Rapide</option>
                <option selected value="1.5"> Très rapide</option>
            </select>
        </div>
        <div class="my-3">
            <div class="my-2">
                <span class="btn btn-outline-secondary rounded-circle p-0 px-2">?</span> <label for="step"> Combien de pas faîtes-vous en moyenne chaque jour : <span class="text-danger">*</span></label>
            </div>
            <input class="form-control" id="step" name="step" type="number" autocomplete="step" value="6000" required>
        </div>
        <div class="my-3">
            <div class="my-2">
                <b>Or sport</b> combien de <b>minutes</b> de travail physique faîtes-vous en moyenne par <b>semaine</b> : <span class="text-danger">*</span></label>
            </div>
            <input class="form-control" id="crafts" name="crafts" type="number" autocomplete="crafts" value="480" required>
        </div>
        <div class="my-3">
            <div class="my-2">
               Sexe : <span class="text-danger">*</span></label>
            </div>
            <input class="form-radio" selected id="sexe" name="sexe" type="radio" autocomplete="sexe" value="1" required> : Homme
            <input class="form-radio" id="sexe" name="sexe" type="radio" autocomplete="sexe" value="2" required> : Femme
        </div>
        <div class="my-3">
            <div class="my-2">
                Voullez-vous faire le programme sportif proposé par la plateforme ? <span class="text-danger">*</span></label>
            </div>
            <input class="form-radio" id="wantToTrain" name="wantToTrain" type="radio" autocomplete="wantToTrain" value="true" required>  : oui
            <input class="form-radio" id="wantToTrain" name="wantToTrain" type="radio" autocomplete="wantToTrain" value="false" required selected> : non
            <div class="alert alert-warning">
                Il sera plus compliqué pour vous d'atteindre vos objectifs en cochant non.
            </div>
        </div>
        <div class="my-5">
           <input type="submit" class="btn btn-primary"/>
        </div>
    </form>
</div>
<div class="border border rounded-bottom p-3 ongletsProfile d-none w-auto" id="ongletMensuraions">
        <canvas id="chartjs-line"></canvas>
        <table class="table table-striped my-3">
          <thead class="table-dark">
            <tr>
             <th scope="col">IMC </th>
              <th scope="col">Poids</th>
              <th scope="col">Taille</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i = 0 ; i < measurments.length; i ++) { %>
                <tr>
                    <td><%= (measurments[i].weight/((measurments[i].size/100) * (measurments[i].size/100))).toFixed(1) %></td>
                    <td><%= measurments[i].weight %> Kg</td>
                    <td><%= measurments[i].size %> cm</td>
                    <td><%= new Date(measurments[i].createdAt).toLocaleDateString('fr-FR', {
                        weekday: 'long',
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric'
                    }) %></td>
                    <!-- <th scope="col">IMC (tours)</th> -->
                </tr>
            <% } %>
          </tbody>
        </table>
        <form action="/measurment" method="POST" class="my-5">
            <div class="my-3 row my-1" >
                <div class="col-2">
                    <label for="weight">
                        Poids 
                    </label>
                </div>
                <div class="col-3">
                    <input class="form-control" value="64" type="number" step="0.1" name="weight" id="weight"/>
                </div>
                <div class="col-2">
                    <label for="size">
                        Taille
                    </label>
                </div>
                <div class="col-3">
                    <input class="form-control" value="173" pattern="[0-9]*[.,]?[0-9]*" type="number" step="0.1" name="size" id="size"/>
                </div>
            </div>
            <input type="submit" class="btn btn-primary"/>
        </form>

    <div id="ongletMeasurmentAlert" class="alert d-none"></div>

</div>
<div class="border border rounded-bottom p-3 ongletsProfile d-none" id="ongletCompte">
    <h3 class="my-3">Compte : </h3>
    <form action="/user/<%= user.id %>" method="POST" class="my-3">
        <p>
            <label for="email"> Email : </label>
            <input class="form-control" type="email" value='<%= user.email %>' name="email"  id="email" required>
        </p>
        <p>
            <label for="name"> Nom : </label>
            <input class="form-control" type="text" value='<%= user.name %>' name="name" id="name" required>
        </p>
        <p>
            <label for="password"> Mot de passe : </label>
            <input class="form-control" value="P4$$w0rd" type="password" name="password" id="password" required>
        </p>
        <p>
            <label for="passwordConf"> Confirmer le mot de passe : </label>
            <input class="form-control" value="P4$$w0rd" type="password" name="passwordConf" id="passwordConf" required>
        </p> 
        <div class="my-3">
            <h4> Premium : </h4>
            <% if (isPremium) { %>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date </th>
                            <th>Prix </th>
                            <th colspan="2">Fin de l'engagement</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < subscriptions.length; i++) {%>
                            <tr>
                                <td class="startDate"> <%= subscriptions[i].start_date %></td>
                                <td> <%= subscriptions[i].plan.amount / 100 %> € / moi </td>
                                <td>
                                    <% if (subscriptions[i].plan.product === 'prod_KKjw4bAelTBOMa') { %>
                                        <span class="endDate">
                                            <%= subscriptions[i].start_date += 86400*31*12 %>
                                        </span>
                                        
                                    <% } else if (subscriptions[i].plan.product === 'prod_KKjy9S91iB6qYP') { %>
                                        <span class="endDate">
                                            <%= subscriptions[i].start_date += 86400*31*6 %>
                                        </span>
                                    <% } else {%>
                                        -
                                    <% } %>
                                </td>
                                <td>
                                    <button class="btn btn-danger cancel-subscriptions" url="/api/subscription/<%=subscriptions[i].id%>"> Annuler </button>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            <% } else { %>
            <% } %>
        </div>  
        <input type="submit" class="btn btn-primary my-3" id="submitUserFormButton" value="Mettre à jour"/>
    </form>  
    <div id="ongletCompteAlert" class="alert d-none my-3"></div>
</div>
<!-- <link rel="stylesheet" href="https://unpkg.com/@adminkit/core@latest/dist/css/app.css"> -->
<script src="https://unpkg.com/@adminkit/core@latest/dist/js/app.js"></script>
<script src="/js/user/measurments.js"></script>
<script src="/js/onglet.js"></script>
<script src='/js/user/subscription.delete.js'></script>
