<% title = "Entraînement | aperçu" %>

<%- contentFor('mainWithoutMarge') %>
<%- contentFor('main') %>
<div>

  <h2 class="my-5"> Nos programmes</h2>

  <% programs.forEach(program => {%>

    <div class="my-5 d-flex border w-auto p-0 shadow">
      <div>
        <img src="/media/photo/<%= program.imageUrl %>" style="max-height: 168px;"/>
      </div>
       <div class="px-3 w-auto" >
        <h3 class="my-2"><%= program.name %></h3>
        <p class="my-2 h-auto overflow-hidden"><%= program.description%></p>
        <div>
        <div>
          <p>
            <a class="btn btn-primary my-1 me-2 ">Suivre</a><a  href="/program/<%= program.id %>"  class="btn btn-outline-primary my-1 ms-2">Voir</a>
          </p>
        </div>
       </div> 
      </div>
    </div>

  <% }) %>
</div>
