<% title = "Child Template" %>

<%- contentFor('mainWithoutMarge') %>     
<div class="row">
    <div class="col-8" style="height: 18em; max-width: 70%; background-image: url(/media/photo/<%= program.imageUrl %>); background-size: cover; background-position : center; background-color: rgb(255, 255, 255);" ></div>

    <div class="col-4 d-flex align-items-center ">
        <h2> <a href="/train" class="btn btn-primary"><i class="fa-solid fa-arrow-left-long"></i></a>  <%= program.name %></h2>
    </div>
</div>
<%- contentFor('main') %>

<div class="my-5 p-3 border shadow">
    <%= program.description %>
</div>



<div class="my-5 accordion" id="accordion">
    <% 
    isFirst = true;
    program.Trains.forEach(train => { %>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading<%= train.name + train.id %>">
                 <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= train.name + train.id %>" aria-expanded="false" aria-controls="collapse<%= train.name + train.id %>">
                    <%= train.name %>
                </div>
            </h2>
            <div id="collapse<%= train.name+train.id %>" class="accordion-collapse collapse <% if(isFirst){ %> show <% isFirst = false;} %> " aria-labelledby="heading<%= train.name + train.id %>" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="my-2">
                    <%= 
                        train.description || `I'm Emile Armengaud, a 23-year-old back-end developer working as a freelancer. I specialize in PHP, particularly with the Symfony framework. If you're looking for a trustworthy partner to help create your project, you can contact me via the email provided in the "Main" section below. Hoping we will meet us soon !`
                    %>
                </div>
                <div class="my-2">
                    <a href="/train/<%= train.id %>/play" class="btn btn-outline-primary">M'entraîner</a>
                </div>
                

                <% train.ExerciseTrains.forEach(exerciseTrain => {%>
                    <div class="my-5 d-flex border w-auto p-0 shadow">
                        <div>
                            <img src="/media/photo/<%= exerciseTrain.Exercise.imageUrl %>" style="max-height: 168px;"/>
                        </div>
                        <div class="px-3 w-auto" >
                            <h4 class="my-2"><%= exerciseTrain.Exercise.name %></h3>
                                <p class="my-2 h-auto overflow-hidden"><%= program.description%>
                                    I'm Emile Armengaud, a 23-year-old back-end developer working as a freelancer. I specialize in PHP, particularly with the Symfony framework. If you're looking for a trustworthy partner to help create your project, you can contact me via the email provided in the "Main" section below. Hoping we will meet us soon !
                                </p>
                            <div>
                                <div>
                                    <h5 class="my-2">
                                        <%= exerciseTrain.reps %> répétitions x <%= exerciseTrain.sets %> séries
                                    </h5>
                                </div>
                            </div> 
                        </div>
                    </div>
                <%}) %>
            </div>
        </div>
    <% })%>
</div>
