<% title = "Child Template" %>

<%- contentFor('mainWithoutMarge') %>     

<%- contentFor('main') %>
<div class="my-5">
    <a href="/program/<%= train.programId %>" class="btn btn-primary"><i class="fa-solid fa-arrow-left-long"></i></a> 
</div>
<div class="my-5 d-flex justify-content-around align-items-center">
    <div class="h-75 shadow me-3 w-25">
        <div class="d-flex justify-content-center my-3">
            <h3 class="p-0 m-0" id="preventExerciseNameElement"><i>Ancien exercice</i></h3>
        </div>
        <div class="d-flex justify-content-center my-3" class="w-auto">
            <img src="" class="w-100 d-flex justify-content-center" id="preventExerciseImageElement" alt="..."/>
        </div>
        <div class="d-flex justify-content-evenly my-3">
        </div>
    </div>
    <div class="border py-3 shadow w-50 mx-3" >
        <div class="d-flex justify-content-center my-3">
            <h2 class="p-0 m-0" id="currentExerciseNameElement"></h2>
           
        </div>
        <div class="d-flex justify-content-center">
            <span class="h3">
                <span id="currentExerciseRepsElement"> </span>
                <span id="currentExerciseRepsModeElement"></span>
            </span>
        </div>
        <div class="d-flex justify-content-center my-3" class="w-auto">
            <img src="" id="currentExerciseImageElement" class="w-100" />
        </div>
        <div class="d-flex justify-content-evenly my-3">
            <button id="moins" class="btn btn-outline-primary"> <i class="fa-solid fa-backward"></i></button>
            <div>
                <button id="stop" class="btn btn-outline-primary d-none"><i class="fa-solid fa-stop"></i> </button>
                <button id="pause" class="btn btn-outline-primary d-none"> <i class="fa-solid fa-pause"></i> </button>
                <button id="play" class="btn btn-outline-primary"> <i class="fa-solid fa-play"></i>  </button>
            </div>

            <button id="plus" class="btn btn-outline-primary"> <i class="fa-solid fa-forward"></i></button>
        </div>
    </div>
    <div class="h-75 shadow ms-3  w-25">

        <div class="d-flex justify-content-center my-3">
            <h3 class="p-0 m-0" id="nextExerciseNameElement"> <i>Prochain exercice </i></h3>
        </div>
        <div class="d-flex justify-content-center my-3" class="w-auto">
            <img src="" class="w-100 d-flex justify-content-center" id="nextExerciseImageElement" alt="..."/>
        </div>
        <div class="d-flex justify-content-evenly my-3">
           
        </div>
    </div>

   
</div>
<div class=" my-5 p-3  overflow-auto border">
    <h3 class="mx-3"><%= train.name %></h3>
    <div class="d-flex">
        <% train.ExerciseTrains.forEach(exerciseTrain => { %>
            <div class="border shadow m-3 h-auto "  style="width: 11em;" >
                <img src="/media/photo/<%= exerciseTrain.Exercise.imageUrlPng %>" class="w-100 border png-gif-img"/>
                <div class="p-2 border">
                    <h4><%= exerciseTrain.Exercise.name %></h4>
                    <%= exerciseTrain.reps %> répétition x <%= exerciseTrain.sets %> 
                </div>
            </div>
        <% }) %>
    </div>
</div>
<span id="trainId" class="d-none"><%= train.id %></span>
<script Type="text/javascript" src="/js/train/play.js"></script>
<script src="/js/exercise/image.js" type="text/javascript"></script>
