<% title = "Child Template" %>

<%- contentFor('main') %>
<h2 class="my-5">Entraînement</h2>
<div class="d-flex justify-content-center">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td colspan="3 align-middle"> 
                    <h3 class="align-middle"><%= train.name %></h3>
                </td>
            </tr>
            <tr>
                <th scope="col">
                    Nom
                </th>
                <th scope="col">
                    Répétitions
                </th>
                <th scope="col">
                    jour
                </th>
            </tr>
        </thead>

        <tbody id="trainList">
            <% if (train.exerciseTrain.length > 0) { %>
                <tr>
                    <td colspan="3 align-middle"> 
                        <h4 class="align-middle"><%= train.exerciseTrain[0].day %></h4>
                    </td>
                </tr>
            <% } %>
            <% for (var i = 0; i < train.exerciseTrain.length ;  i++ ) { %>
                <tr>
                    <td>
                        <%= train.exerciseTrain[i].exercise.name %> 
                    </td> 
                    <td>
                        <%= train.exerciseTrain[i].sets %> x <%= train.exerciseTrain[i].reps %> <%= train.exerciseTrain[i].repsMode %> 
                    </td> 
                    <td>
                        <%= train.exerciseTrain[i].day %> 
                    </td> 
                </tr>
                <% if (train.exerciseTrain[i+1] !== undefined) {  %>
                    <% if (train.exerciseTrain[i].day != train.exerciseTrain[i+1].day) {  %>
                        
                        <tr>
                            <td colspan="3"> 
                                <button class="btn btn-primary play-train" data-train="<%= train.exerciseTrain[i].day %>"> Play </button> 
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3 align-middle"> 
                                <h4><%= train.exerciseTrain[i+1].day %></h4>
                            </td>
                        </tr>
                    <% } %> 
                <% } %>  

            <% } %>
        </tbody>
    </table>
</div>
