<div class="modal fade" id="filterFoodModal" tabindex="-1" aria-labelledby="filterFoodModallLabel" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-xl-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filterFoodModallLabel">Filtrer</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="GET" id="dishFilterFoodForm">
          <input class="d-none" type="hidden" name="dishFoodsFilter" id="dishFoodsFilter"/>
          <div class="my-3">
            <label for="words">Nom</label><br>
            <div class="row">
              <input class="form-control col me-1" type="text" id="words" name="words" value="<%= parsedUrlQuery.words %>" step="0.1" /> 
            </div>
          </div>
          <div class="my-3">
            <label for="kcalFilter">Kcal</label><br>
            <div class="row">
              <input class="form-control col me-1" placeholder="Min" type="number" name="kcalFilterMin" value="<%= parsedUrlQuery.kcalFilterMin %>" step="0.1" /> 
              <input class="form-control col ms-1" placeholder="Max" type="number" name="kcalFilterMax" value="<%= parsedUrlQuery.kcalFilterMax %>" step="0.1" /> 
            </div>
          </div>
          <div class="my-3">
            <label for="proteinFilter">Protéine</label><br>
            <div class="row">
              <input class="form-control col me-1" placeholder="Min" type="number" name="proteinFilterMin" value="<%= parsedUrlQuery.proteinFilterMin %>" step="0.1" /> 
              <input class="form-control col ms-1" placeholder="Max" type="number" name="proteinFilterMax" value="<%= parsedUrlQuery.proteinFilterMax %>" step="0.1" /> 
            </div>
          </div>
          <div class="my-3">
            <label for="fatFilter">Gras</label><br>
            <div class="row">
              <input class="form-control col me-1" placeholder="Min" type="number" name="fatFilterMin" value="<%= parsedUrlQuery.fatFilterMin %>" step="0.1" /> 
              <input class="form-control col ms-1" placeholder="Max" type="number" name="fatFilterMax" value="<%= parsedUrlQuery.fatFilterMax %>" step="0.1" /> 
            </div>
          </div>
          <div class="my-3">
            <label for="carboFilter">Glucide</label><br>
            <div class="row">
              <input class="form-control col me-1" placeholder="Min" type="number" name="carboFilterMin" value="<%= parsedUrlQuery.carboFilterMin %>" step="0.1" /> 
              <input class="form-control col ms-1" placeholder="Max" type="number" name="carboFilterMax" value="<%= parsedUrlQuery.carboFilterMax %>" step="0.1" /> 
            </div>
          </div>

          <button class="btn btn-outline-primary">Valider</button>
        </form>
      </div>
    </div>  
  </div>
</div> 
