<div class="my-5 my-md-5-down mb-5">
  <!-- <h3 >Besoins</h3> -->
  <table class="table table-bordered" >
    <thead>
      <tr>
        <th colspan="3" class="h4 title-zone-al-need">
          Total calorique et nutritionel : <a href="/food/ate/<%= date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate() %> 00:00:00"><%= date.toLocaleDateString('fr-FR', {
            weekday: 'long',
            year: 'numeric',
            month: 'long',
            day: 'numeric'
          })  %></a>
        </th>
      </tr>
      <tr>
        <th class="text-responsive">Energie</th>
        <th class="text-responsive">Protéine</th>
        <th class="text-responsive">Lipide</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <span class="text-responsive"><%= nutritionRequirement.kcalorie * nutritionRequirement.personnalMultiplicator | 1 %> Kcl</span> </td>
        <td> <span class="text-responsive"><%= nutritionRequirement.proteine * nutritionRequirement.proteinMultiplicator | 1 %> G</span> </td>
        <td> <span class="text-responsive"><%= nutritionRequirement.fat * nutritionRequirement.fatMultiplicator | 1 %> G</span> </td>
      </tr>
      <tr>
        <td> <span id="kcalAteAbs"></span> <span class="text-responsive"><%= Math.round(sumKcalorie) %> Kcl</span> </td>
        <td> <span id="protAteAbs"></span> <span class="text-responsive"><%= Math.round(sumProtein) %> G</span> </td>
        <td> <span id="fatAteAbs"></span> <span class="text-responsive"><%= Math.round(sumFat) %> G</span> </td>
      </tr>
      <tr>
        <%
          let prcntKcalorie = (sumKcalorie / nutritionRequirement.kcalorie * 100)
          let prcntProtein = (sumProtein / nutritionRequirement.proteine * 100)
          let prcntFat = (sumFat / nutritionRequirement.fat * 100) 

          if (isNaN(prcntKcalorie)) prcntKcalorie = 0; 
          if (isNaN(prcntProtein)) prcntProtein = 0;
          if (isNaN(prcntFat)) prcntFat = 0;

        %>  
        <td> <span id="kcalAtePrct"></span> <span class="text-responsive"><%= Math.round(prcntKcalorie) %> %</span> </td>
        <td> <span id="protAtePrct"></span> <span class="text-responsive"><%= Math.round(prcntProtein) %> %</span> </td>
        <td> <span id="fatAtePrct"></span> <span class="text-responsive"><%= Math.round(prcntFat) %> %</span> </td>
      </tr>
      <tr>
        <td colspan="3" class="p-2" style="max-height: 130px;">
          <div  class="row  w-100 text-responsive" style="white-space: nowrap; overflow-y: auto; max-height: 130px;">
            <% for (aFIndx = 0; aFIndx < ateFood.length; aFIndx++) { %>
              <div class="shadow-sm border w-auto p-2 mx-2 rounded">
                <%= new Date(ateFood[aFIndx].date).toLocaleDateString('fr-FR', {
                  weekday: 'long',
                  year: 'numeric',
                  month: 'long',
                  day: 'numeric'
                })%>
                <br>
                <br>
                <a href="/nutrition/<%= ateFood[aFIndx].date %>">voir</a>
              </div>
            <% } %>
            <div class="shadow-sm border  w-auto p-2 mx-2 rounded">
                 <%= new Date().toLocaleDateString('fr-FR', {
                  weekday: 'long',
                  year: 'numeric',
                  month: 'long',
                  day: 'numeric'
                })%>
                <br>
                <span class="text-secondary fst-italic">(aujourd'hui)</span>
                <br>
                <a href="/nutrition/<%= new Intl.DateTimeFormat('en-CA').format(new Date()) %>">voir</a>
              </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <div class="navbar navbar-inverse navbar-fixed-top"> -->

</div>