<% title = "Cours " %>

<%- contentFor('mainWithoutMarge') %>
<%- contentFor('main') %>
    
    <div class="d-flex justify-content-center">
        <div class="border-bottom w-100">
            <div class="row" >
                <div class="mt-5 opacity-50">
                    <% if (isAdmin !=true) { %>
                        <%= curse.libele %>
                    <% }%>
                </div>
                <h2>
                    <% if (isAdmin === true) { %>
                        <a href="/admin/curse" class="btn btn-outline-primary"><i class="fa-solid fa-arrow-left-long"></i></a>
                        <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteSessionDraftModal">
                            <i class="fa-regular fa-trash-can"></i> Supprimer
                        </button>
                        <form action="/admin/curse/<%= curse.id %>/session/<%= session.id %>" method="POST">
                        <input class="form-control w-auto" type="text" name="libele" value="<%= session.libele %>" placeholder="nom de la session">
                        <input class="btn btn-primary" type="submit" name="buttonSelected"  value="Sauvegarder">
                        <div class="modal border-danger" id="deleteSessionDraftModal" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-body border-danger">
                                    <h5 class="h5"><strong>Attention</strong></h5>
                                    <p>La sera supprimée</p>
                                </div>
                                <div class="modal-footer ">
                                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Fermer</button>
                                    <a href="/admin/session/<%= session.id %>/delete" class="btn btn-danger">Supprimer</a>
                                </div>
                                </div>
                            </div>
                        </div>
                    <% } else { %>
                        <a href="/academy" class="btn btn-outline-primary"><i class="fa-solid fa-arrow-left-long"></i></a> <%= session.libele %>
                    <% }%>
                </h2>
            </div>
            <div class="row my-5">

                <% 
                    if (isAdmin) {
                    
                        adminPrefixOrNull = '/admin'
                        sessions = curse.SessionDrafts
                    } else {
                        
                        adminPrefixOrNull = ''; 
                        sessions = curse.Sessions

                    }
                    
                    sessions.forEach(sessionIndex => {
                        color = 'primary';
                        if (!isAdmin) {
                            if (sessionIndex.ViewedSessions.length > 0) color = 'success';
                        }
                        %>
                    <div class="p-0 py-1 col d-flex justify-content-center 
                            <% if (sessionIndex.id < session.id ) {%>
                                bg-<%= color %>
                            <%} else { %>
                                bg-light
                            <% } %> 
                            <% if(sessionIndex.id <=  session.id )  {%>
                                    border border-<%= color %>
                            <% } %>  
                        ">
                        <a class="mx-0 
                            <% if (sessionIndex.id < session.id ) {%>
                                text-white
                            <%} else { %>
                                    text-<%= color %>
                            <% } %> link-underline link-underline-opacity-0" href="<%= adminPrefixOrNull %>/curse/<%= curse.id %>/session/<%= sessionIndex.id %>">
                            <% if (sessionIndex.id == session.id  ) { %>
                                
                                <strong>></strong> <%= sessionIndex.libele %> <strong><</strong>
                            <% } else { %>
                                <%= sessionIndex.libele %>
                            <% } %>
                        </a>
                    </div>
                <% }) %>
                <!-- < } else { >
                    < curse.Sessions.forEach(session => { >
                        <div class="p-0 py-1 col d-flex justify-content-center bg-primary border-bottom border-primary ">
                            <a class="mx-0 text-white link-underline link-underline-opacity-0" href="/curse/<= curse.id >/session/<= session.id >">
                                <div><= session.libele ></div>
                            </a>
                        </div>
                    < }) >
                < } > -->
            </div> 
            <div class="video-container row">
                <video controls>
                    <source src="/media/video/<%= session.videoUrl %>" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>
                <% if (isAdmin === true) { %>
                    <input type="text" class="my-3 form-control" name="videoUrl" value="<%= session.videoUrl %>"/>
                <% }  %>
            </div>
            <div class="row my-5">
                
                <div class="col d-flex justify-content-start">
                    <% if (isAdmin === true) { %>
                        <% if (isTherePrevious) {%> 
                            <input type="submit" class="btn btn-outline-primary" name="buttonSelected" value="Sauvegarder & Précédent"/>
                        <% } %>
                    <% } else {%>
                        <a href="" class="btn btn-outline-primary">Précédent</a>    
                    <%} %>
                </div> 
                <% if (!isAdmin) { %>
                    <div class="col d-flex justify-content-center">
                        <form method="post">
                        <p>
                            <input type="checkbox" name="isThisSessionViewed" class="form-check-input" /> : J'ai terminé ce cours
                        </p>
                    </div>
                <% } %>
                <div class="col d-flex justify-content-end">
                    <% if (isAdmin === true) { %>
                        <input type="submit" class="btn btn-primary" name="buttonSelected" value="Sauvegarder & Suivant"/>
                    <% } else { %>
                        <button class="btn btn-primary"> Suivant</button>    
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="row my-5 w-auto">
                <h3 class="my-3">Bibliographie 
                    <% if (isAdmin === true) { %>
                        <button class="btn btn-primary" id="addBliblioGraphie">+</button>
                    <% } %>
                </h3> 
                <div id="biblioList">
                    <% if (isAdmin !== true) { %> <ol> <% } %>

                        <% if (isAdmin === true) { %>

                            <% session.SessionBibliographyDrafts.forEach(biblioGraphy => {%> 
                                <div class="row my-1">
                                    <div class="col">
                                        <input type="text" name="libele" class="form-control col-auto" placeholder="titre" value="<%= biblioGraphy.libele %>">
                                    </div>
                                    <div class="col">
                                        <input type="text" name="bibliographies" class="form-control col-auto" placeholder="url" value="<%= biblioGraphy.url %>">
                                    </div>
                                </div>
                            <%}) %>
                            
                        <% } else { %>
                            <% session.SessionBibliographies.forEach(biblioGraphy => {%> 
                            
                                <li>
                                    <a href="https://<%= biblioGraphy.url %>" class="my-2 link-secondary">
                                        <%= biblioGraphy.libele %>
                                    </a>
                                 </li>

                            <%}) %>
                        <% } %>
                        
                    <% if (isAdmin !== true) { %> </ol> <% } %>
                </div>
            </div>
            <% if (isAdmin === true) %></form><%;%>
        </div>
    </div>
<script>
    const addBliblioGraphie = document.querySelector('#addBliblioGraphie');
    const biblioList = document.querySelector('#biblioList');

    addBliblioGraphie.addEventListener('click', function (e) {
        e.preventDefault();
        
        const newBiblioLibeleElement = document.createElement("input")
        newBiblioLibeleElement.setAttribute('type', "text")
        newBiblioLibeleElement.setAttribute('name', "libele")
        newBiblioLibeleElement.setAttribute('class', "form-control col-auto")
        newBiblioLibeleElement.setAttribute('placeholder', "titre")

        const newBiblioUrlElement = document.createElement("input")
        newBiblioUrlElement.setAttribute('type', "text")
        newBiblioUrlElement.setAttribute('name', "bibliographies")
        newBiblioUrlElement.setAttribute('class', "form-control col-auto")
        newBiblioUrlElement.setAttribute('placeholder', "url")

        const divContainer = document.createElement('div')
        divContainer.setAttribute('class', "row my-1")

        const colContainerUrl = document.createElement('div')
        colContainerUrl.setAttribute('class', "col")
        colContainerUrl.appendChild(newBiblioUrlElement)

        const colContainerLibele = document.createElement('div')
        colContainerLibele.setAttribute('class', "col")
        colContainerLibele.appendChild(newBiblioLibeleElement)

        divContainer.appendChild(colContainerLibele)
        divContainer.appendChild(colContainerUrl)

        biblioList.appendChild(divContainer)        
    })
</script>